<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edgedo.sys.mapper.SysDictionaryKeyMapper" >
   
   
    <resultMap id="BaseResultMap" type="com.edgedo.sys.entity.SysDictionaryKey" >
			<id column="ID" property="id"/>
			<result column="DICT_NAME" property="dictName"/>
			<result column="PARENT_ID" property="parentId"/>
			<result column="REMARK" property="remark"/>
			<result column="ORDER_NUMBER" property="orderNumber"/>
		    <result column="IS_LEAF" property="isLeaf"/>
    </resultMap>
   
    <resultMap id="BaseResultViewMap" type="com.edgedo.sys.queryvo.SysDictionaryKeyView" extends="BaseResultMap">
    
    </resultMap>
  
  
  <!-- ******* 新增字段请修改这里  ******  -->
  <sql id="Base_Column_List">
	 ID, DICT_NAME, PARENT_ID, REMARK, ORDER_NUMBER,IS_LEAF
  </sql>
  
  <!-- ******* 利用好这里的动态查询条件  ******  -->
  <sql id="where">
  	<where>
		<if test='queryObj != null and  queryObj.parentId != null and queryObj.parentId != ""'>
			AND  PARENT_ID = #{queryObj.parentId}
		</if>
		<if test='queryObj != null and  queryObj.id != null and queryObj.id != ""'>
			AND  ID LIKE concat('%',#{queryObj.id},'%')
		</if>
		<if test='queryObj != null and  queryObj.dictName != null and queryObj.dictName != ""'>
			AND  DICT_NAME = #{queryObj.dictName}
		</if>
		<if test='queryObj != null and  queryObj.remark != null and queryObj.remark != ""'>
			AND  REMARK = #{queryObj.remark}
		</if>
		<if test='queryObj != null and  queryObj.orderNumber != null and queryObj.orderNumber != ""'>
			AND  ORDER_NUMBER = #{queryObj.orderNumber}
		</if>
  	</where>
  	
  </sql>
  
  <!-- ******* 排序判断  ******  
  <sql id="orderBy">
  	<if test="orderBy != null and orderBy!= '' ">
  		order by  ${orderBy}
  	</if>
  </sql>-->
  
  
  <!-- 分页条件查询  -->
  <select id="listPage" parameterType="com.edgedo.sys.queryvo.SysDictionaryKeyQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from sys_dictionary_key 
  		<include refid="where"/>
  </select>
  
   <!-- 不分页条件查询  -->
  <select id="listByObj" parameterType="com.edgedo.sys.queryvo.SysDictionaryKeyQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from sys_dictionary_key 
  		<include refid="where"/>
  </select>
  
   <!-- 根据父节点查询子节点  -->
  <select id="selectByParentId" parameterType="com.edgedo.sys.queryvo.SysDictionaryKeyView" resultMap="BaseResultViewMap">
  		select
		<include refid="Base_Column_List" />
		from sys_dictionary_key
		where PARENT_ID = #{parentId}
		order by  ORDER_NUMBER asc
  </select>
  
  
</mapper>