<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edgedo.sys.mapper.SysWxRefundRecordMapper" >
   
   
    <resultMap id="BaseResultMap" type="com.edgedo.sys.entity.SysWxRefundRecord" >
			<id column="ID" property="id"/>
			<result column="CREATE_TIME" property="createTime"/>
			<result column="REFUND_TYPE" property="refundType"/>
			<result column="APP_ID" property="appId"/>
			<result column="MCH_ID" property="mchId"/>
			<result column="NONCE_STR" property="nonceStr"/>
			<result column="SIGN" property="sign"/>
			<result column="SIGN_TYPE" property="signType"/>
			<result column="TRANSACTION_ID" property="transactionId"/>
			<result column="OUT_TRADE_NO" property="outTradeNo"/>
			<result column="OUT_REFUND_NO" property="outRefundNo"/>
			<result column="TOTAL_FEE" property="totalFee"/>
			<result column="REFUND_FEE" property="refundFee"/>
			<result column="REFUND_FEE_TYPE" property="refundFeeType"/>
			<result column="OP_USER_ID" property="opUserId"/>
			<result column="REFUND_ACCOUNT" property="refundAccount"/>
			<result column="RETURN_CODE" property="returnCode"/>
			<result column="RETURN_MSG" property="returnMsg"/>
			<result column="PREPAY_ID" property="prepayId"/>
			<result column="REFUND_ID" property="refundId"/>
			<result column="REFUND_CHANNEL" property="refundChannel"/>
			<result column="SETTLEMENT_REFUND_FEE" property="settlementRefundFee"/>
			<result column="SETTLEMENT_TOTAL_FEE" property="settlementTotalFee"/>
    </resultMap>
   
    <resultMap id="BaseResultViewMap" type="com.edgedo.sys.queryvo.SysWxRefundRecordView" extends="BaseResultMap">
    
    </resultMap>
  
  
  <!-- ******* 新增字段请修改这里  ******  -->
  <sql id="Base_Column_List">
	 ID, CREATE_TIME, REFUND_TYPE, APP_ID, MCH_ID, NONCE_STR, SIGN, SIGN_TYPE, TRANSACTION_ID, OUT_TRADE_NO, OUT_REFUND_NO, TOTAL_FEE, REFUND_FEE, REFUND_FEE_TYPE, OP_USER_ID, REFUND_ACCOUNT, RETURN_CODE, RETURN_MSG, PREPAY_ID, REFUND_ID, REFUND_CHANNEL, SETTLEMENT_REFUND_FEE, SETTLEMENT_TOTAL_FEE
  </sql>
  
  <!-- ******* 利用好这里的动态查询条件  ******  -->
  <sql id="where">
  	<where>
				<if test='queryObj != null and  queryObj.createTime != null'>
					AND  CREATE_TIME = #{queryObj.createTime}
				</if>
  	</where>
  	
  </sql>
  
  <!-- ******* 排序判断  ******  
  <sql id="orderBy">
  	<if test="orderBy != null and orderBy!= '' ">
  		order by  ${orderBy}
  	</if>
  </sql>-->
  
  
  <!-- 分页条件查询  -->
  <select id="listPage" parameterType="com.edgedo.sys.queryvo.SysWxRefundRecordQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from sys_wx_refund_record 
  		<include refid="where"/>
  </select>
  
   <!-- 不分页条件查询  -->
  <select id="listByObj" parameterType="com.edgedo.sys.queryvo.SysWxRefundRecordQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from sys_wx_refund_record 
  		<include refid="where"/>
  </select>
  
  
</mapper>