<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edgedo.sys.mapper.ScaleChannelMapper" >
   
   
    <resultMap id="BaseResultMap" type="com.edgedo.sys.entity.ScaleChannel" >
			<id column="ID" property="id"/>
			<result column="CREATE_TIME" property="createTime"/>
			<result column="CHANNEL_NAME" property="channelName"/>
			<result column="CHANNEL_URL" property="channelUrl"/>
			<result column="CHANNEL_DESC" property="channelDesc"/>
    </resultMap>
   
    <resultMap id="BaseResultViewMap" type="com.edgedo.sys.queryvo.ScaleChannelView" extends="BaseResultMap">
    
    </resultMap>
  
  
  <!-- ******* 新增字段请修改这里  ******  -->
  <sql id="Base_Column_List">
	 ID, CREATE_TIME, CHANNEL_NAME, CHANNEL_URL, CHANNEL_DESC
  </sql>
  
  <!-- ******* 利用好这里的动态查询条件  ******  -->
  <sql id="where">
  	<where>
				<if test='queryObj != null and  queryObj.createTime != null'>
					AND  CREATE_TIME = #{queryObj.createTime}
				</if>
				<if test="queryObj != null and  queryObj.channelName != null and  queryObj.channelName != ''">
					AND  CHANNEL_NAME like concat('%',#{queryObj.channelName},'%')
				</if>
  	</where>
  	
  </sql>
  
  <!-- ******* 排序判断  ******  
  <sql id="orderBy">
  	<if test="orderBy != null and orderBy!= '' ">
  		order by  ${orderBy}
  	</if>
  </sql>-->
  
  
  <!-- 分页条件查询  -->
  <select id="listPage" parameterType="com.edgedo.sys.queryvo.ScaleChannelQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from scale_channel 
  		<include refid="where"/>
  </select>
  
   <!-- 不分页条件查询  -->
  <select id="listByObj" parameterType="com.edgedo.sys.queryvo.ScaleChannelQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from scale_channel 
  		<include refid="where"/>
  </select>
  
  <update id="updateID" parameterType="com.edgedo.sys.queryvo.ScaleChannelQuery" >
	  update scale_channel
	  <set >
		  <if test="newID != null" >
			  ID = #{newID,jdbcType=VARCHAR},
		  </if>
		  <if test="createTime != null" >
			  CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
		  </if>
		  <if test="channelName != null" >
			  CHANNEL_NAME = #{channelName,jdbcType=VARCHAR},
		  </if>
		  <if test="channelUrl != null" >
			  CHANNEL_URL = #{channelUrl,jdbcType=VARCHAR},
		  </if>
		  <if test="channelDesc != null" >
			  CHANNEL_DESC = #{channelDesc,jdbcType=VARCHAR},
		  </if>
	  </set>
	  where ID = #{id,jdbcType=VARCHAR}
  </update>

	<select id="ifHasID" parameterType="java.lang.String" resultType="java.lang.String">
		select CHANNEL_URL
		from scale_channel
		where ID = #{id,jdbcType=VARCHAR}
	</select>
</mapper>