<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edgedo.sys.mapper.ScaleUserOrderMapper" >
   
   
    <resultMap id="BaseResultMap" type="com.edgedo.sys.entity.ScaleUserOrder" >
			<id column="ID" property="id"/>
			<result column="CREATE_TIME" property="createTime"/>
			<result column="SCALE_ID" property="scaleId"/>
			<result column="SCALE_NAME" property="scaleName"/>
			<result column="PRICE" property="price"/>
			<result column="ORA_PRICE" property="oraPrice"/>
			<result column="ORDER_STATE" property="orderState"/>
			<result column="PAY_TIME" property="payTime"/>
			<!--<result column="SEARCH_TIME" property="searchTime"/>-->
			<result column="OWNER_USER_ID" property="ownerUserId"/>
			<result column="OWNER_USER_NAME" property="ownerUserName"/>
			<result column="OWNER_USER_TYPE" property="ownerUserType"/>
			<result column="OWNER_COM_ID" property="ownerComId"/>
			<result column="OWNER_COM_NAME" property="ownerComName"/>
			<result column="COMPANY_ORDER_ID" property="companyOrderId"/>
			<result column="ORDER_CODE" property="orderCode"/>
			<result column="PREPAY_ID" property="prepayId"/>
			<result column="FEE" property="fee"/>
			<result column="REAL_GET_MONEY" property="realGetMoney"/>
			<result column="DATA_STATE" property="dataState"/>
			<result column="IS_REMIND" property="isRemind"/>
		<result column="CHANNEL_ID" property="channelId"/>
		<result column="CHANNEL_NAME" property="channelName"/>
    </resultMap>
   
    <resultMap id="BaseResultViewMap" type="com.edgedo.sys.queryvo.ScaleUserOrderView" extends="BaseResultMap">
    
    </resultMap>
	<resultMap id="ResultViewMap" type="com.edgedo.sys.entity.ScaleUserOrder" extends="BaseResultMap"> </resultMap>

  
  
  <!-- ******* 新增字段请修改这里  ******  -->
  <sql id="Base_Column_List">
	 ID, CREATE_TIME, SCALE_ID, SCALE_NAME, PRICE, ORA_PRICE, ORDER_STATE, PAY_TIME, OWNER_USER_ID, OWNER_USER_NAME, OWNER_USER_TYPE, OWNER_COM_ID, OWNER_COM_NAME, COMPANY_ORDER_ID, ORDER_CODE, PREPAY_ID, FEE, REAL_GET_MONEY, DATA_STATE ,IS_REMIND,CHANNEL_ID,CHANNEL_NAME
  </sql>
  
  <!-- ******* 利用好这里的动态查询条件  ******  -->
  <sql id="where">
  	<where>
		DATA_STATE = '1' AND ORDER_STATE !='-1'
		<if test='queryObj != null and  queryObj.orderState != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.orderState)'>
			AND  ORDER_STATE = #{queryObj.orderState}
		</if>
		<if test='queryObj != null and  queryObj.ownerUserName != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.ownerUserName)'>
			AND  OWNER_USER_NAME like concat('%',#{queryObj.ownerUserName},'%')
		</if>
		<if test='queryObj != null and  queryObj.ownerUserType != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.ownerUserType)'>
			AND  OWNER_USER_TYPE like concat('%',#{queryObj.ownerUserType},'%')
		</if>
		<!--时间-->
		<if test='queryObj != null and  queryObj.startTime != null'>
			AND  PAY_TIME >= #{queryObj.startTime}
		</if>
		<if test='queryObj != null and  queryObj.endTime != null'>
			AND  PAY_TIME  &lt;=  #{queryObj.endTime}
		</if>
		<if test='queryObj != null and  queryObj.orderCode != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.orderCode)'>
			AND  ORDER_CODE = #{queryObj.orderCode}
		</if>
  	</where>
  	
  </sql>
  
  <!-- ******* 排序判断  ******  
  <sql id="orderBy">
  	<if test="orderBy != null and orderBy!= '' ">
  		order by  ${orderBy}
  	</if>
  </sql>-->
  
  
  <!-- 分页条件查询  -->
  <select id="listPage" parameterType="com.edgedo.sys.queryvo.ScaleUserOrderQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from scale_user_order 
  		<include refid="where"/>
  </select>

	<select id="listPageOrder" parameterType="com.edgedo.sys.queryvo.ScaleUserOrderQuery" resultMap="BaseResultViewMap">
		select <include refid="Base_Column_List"/> from scale_user_order
		where
		CHANNEL_ID = #{queryObj.channelId}
		<if test="queryObj.searchTime !=null ">
			and DATE_FORMAT(PAY_TIME,'%Y%m')=DATE_FORMAT( #{queryObj.searchTime} , '%Y%m' )
		</if>
	</select>

	<select id="sumPriceByMonth" parameterType="com.edgedo.sys.queryvo.ScaleUserOrderQuery" resultType="decimal">
		select COALESCE(SUM(PRICE),0) from scale_user_order
		where
		CHANNEL_ID = #{queryObj.channelId}
		<if test="countMonth !=null ">
			and DATE_FORMAT(PAY_TIME,'%Y%m')=DATE_FORMAT( #{countMonth} , '%Y%m' )
		</if>
	</select>
   <!-- 不分页条件查询  -->
  <select id="listByObj" parameterType="com.edgedo.sys.queryvo.ScaleUserOrderQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from scale_user_order 
  		<include refid="where"/>
  </select>

	<select id="selectByScaleIdAndCompanyId" parameterType="map" resultMap="BaseResultViewMap">
		select <include refid="Base_Column_List"/> from scale_user_order where SCALE_ID=#{scaleId} and OWNER_COM_ID=#{ownerCompId} and DATA_STATE='1'
	</select>

	<update id="logicDelete" parameterType="java.lang.String">
		update scale_user_order set DATA_STATE='0'
		where DATA_STATE='1' AND ID=#{id}
	</update>

  

	<select id="getAllPrice" resultType="java.math.BigDecimal">
		SELECT Sum(PRICE) from scale_user_order where (ORDER_STATE = 1 or  ORDER_STATE = 2 or  ORDER_STATE = 3) and DATA_STATE='1'
	</select>

	<select id="getWfkCount" resultType="java.lang.Integer">
		SELECT count(1) from scale_user_order where ORDER_STATE = 0 and DATA_STATE='1'
	</select>

	<select id="getCpzCount" resultType="java.lang.Integer">
		SELECT count(1) from scale_user_order where ORDER_STATE = 2 and  DATA_STATE='1'
	</select>

	<select id="getYwcCount" resultType="java.lang.Integer">
		SELECT count(1) from scale_user_order where ORDER_STATE = 3 and DATA_STATE='1'
	</select>

	<select id="getYzfCount" resultType="java.lang.Integer">
		SELECT count(1) from scale_user_order where ORDER_STATE = 1 and DATA_STATE='1'
	</select>

	<select id="getAllEndOrder" resultMap="BaseResultViewMap">
        select <include refid="Base_Column_List"/> from scale_user_order where
        (ORDER_STATE ="1" or ORDER_STATE="2") and DATE_SUB(CURDATE(), INTERVAL 20 DAY) &gt; PAY_TIME
	</select>

    <select id="getAllForthEndOrder" resultMap="BaseResultViewMap">
        select <include refid="Base_Column_List"/> from scale_user_order where
        (ORDER_STATE ="1" or ORDER_STATE="2") and IS_REMIND = "0" and DATE_SUB(CURDATE(), INTERVAL 17 DAY) &gt; PAY_TIME
    </select>

	<update id="updateOrderState">
		update scale_user_order set ORDER_STATE='5', IS_REMIND = "1"
		where  ID=#{ownerOrderId}
	</update>

	<select id="countByCompOrderId" parameterType="java.lang.String" resultType="int">
		select count(1) FROM scale_user_order WHERE COMPANY_ORDER_ID = #{id} and DATA_STATE='1'
	</select>


	<!-- 新增根据订单用户名称查询对应的量表名称 -->
	<select id="selectByDate" parameterType="com.edgedo.sys.entity.ScaleUserOrder" resultMap="ResultViewMap">
  select SCALE_NAME from scale_user_order
  where  PAY_TIME = #{payTime,jdbcType=VARCHAR}
  and OWNER_USER_ID= #{ownerUserId,jdbcType=VARCHAR}
 </select>
</mapper>