<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edgedo.sys.mapper.ScaleUserQuestionMapper" >
   
   
    <resultMap id="BaseResultMap" type="com.edgedo.sys.entity.ScaleUserQuestion" >
			<id column="ID" property="id"/>
			<result column="CREATE_TIME" property="createTime"/>
			<result column="QUESTION_NUM" property="questionNum"/>
			<result column="QUESTION_DESC" property="questionDesc"/>
			<result column="IS_FINISHED" property="isFinished"/>
			<result column="QUESTION_GET_SCORE" property="questionGetScore"/>
			<result column="USER_ID" property="userId"/>
			<result column="OWNER_USER_SCALE_ID" property="ownerUserScaleId"/>
			<result column="OWNER_SCALE_ID" property="ownerScaleId"/>
			<result column="OWNER_SCALE_NAME" property="ownerScaleName"/>
			<result column="DATA_STATE" property="dataState"/>
    </resultMap>
   
    <resultMap id="BaseResultViewMap" type="com.edgedo.sys.queryvo.ScaleUserQuestionView" extends="BaseResultMap">
    
    </resultMap>
  
  
  <!-- ******* 新增字段请修改这里  ******  -->
  <sql id="Base_Column_List">
	 ID, CREATE_TIME, QUESTION_NUM, QUESTION_DESC, IS_FINISHED, QUESTION_GET_SCORE, USER_ID, OWNER_USER_SCALE_ID, OWNER_SCALE_ID, OWNER_SCALE_NAME, DATA_STATE
  </sql>
  
  <!-- ******* 利用好这里的动态查询条件  ******  -->
  <sql id="where">
  	<where>
				<if test='queryObj != null and  queryObj.createTime != null'>
					AND  CREATE_TIME = #{queryObj.createTime}
				</if>
				<if test='queryObj != null and  queryObj.questionNum != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.questionNum)'>
					AND  QUESTION_NUM = #{queryObj.questionNum}
				</if>
  	</where>
  	
  </sql>
  
  <!-- ******* 排序判断  ******  
  <sql id="orderBy">
  	<if test="orderBy != null and orderBy!= '' ">
  		order by  ${orderBy}
  	</if>
  </sql>-->
  
  
  <!-- 分页条件查询  -->
  <select id="listPage" parameterType="com.edgedo.sys.queryvo.ScaleUserQuestionQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from scale_user_question 
  		<include refid="where"/>
  </select>
  
   <!-- 不分页条件查询  -->
  <select id="listByObj" parameterType="com.edgedo.sys.queryvo.ScaleUserQuestionQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from scale_user_question 
  		<include refid="where"/>
  </select>

	<update id="logicDelete" parameterType="java.lang.String">
		update scale_user_question set DATA_STATE='0'
		where DATA_STATE='1' and ID=#{id}
	</update>

	<select id="selectIdByUserScaleId" parameterType="java.lang.String" resultType="java.lang.String">
		select ID from scale_user_question
		where DATA_STATE='1'
		AND OWNER_USER_SCALE_ID = #{userScaleId}
	</select>
  
  
</mapper>