<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edgedo.sys.mapper.ScaleBannerMapper" >
   
   
    <resultMap id="BaseResultMap" type="com.edgedo.sys.entity.ScaleBanner" >
			<id column="ID" property="id"/>
			<result column="IMAGE_NAME" property="imageName"/>
			<result column="IMAGE_URL" property="imageUrl"/>
			<result column="ORDER_NUM" property="orderNum"/>
			<result column="IS_USE" property="isUse"/>
			<result column="DATE_STATE" property="dateState"/>
    </resultMap>
   
    <resultMap id="BaseResultViewMap" type="com.edgedo.sys.queryvo.ScaleBannerView" extends="BaseResultMap">
    
    </resultMap>
  
  
  <!-- ******* 新增字段请修改这里  ******  -->
  <sql id="Base_Column_List">
	 ID, IMAGE_NAME, IMAGE_URL, ORDER_NUM, IS_USE, DATE_STATE
  </sql>
  
  <!-- ******* 利用好这里的动态查询条件  ******  -->
  <sql id="where">
  	<where>
		<if test="queryObj != null and  queryObj.imageName != null and queryObj.imageName!=''">
			AND  IMAGE_NAME like concat('%',#{queryObj.imageName},'%')
		</if>
  	</where>
  	
  </sql>
  
  <!-- ******* 排序判断  ******  
  <sql id="orderBy">
  	<if test="orderBy != null and orderBy!= '' ">
  		order by  ${orderBy}
  	</if>
  </sql>-->
  
  
  <!-- 分页条件查询  -->
  <select id="listPage" parameterType="com.edgedo.sys.queryvo.ScaleBannerQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from scale_banner 
  		<include refid="where"/>
  </select>
  
   <!-- 不分页条件查询  -->
  <select id="listByObj" parameterType="com.edgedo.sys.queryvo.ScaleBannerQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from scale_banner 
  		<include refid="where"/>
  </select>
  
  
</mapper>