<#assign className = table.className>   
<#assign classNameLower = className?uncap_first>
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edgedo.sys.mapper.${className}Mapper" >
   
   
    <resultMap id="BaseResultMap" type="com.edgedo.sys.entity.${className}" >
  		<#list table.columns as column>
			<#if column.columnNameFirstLower='id'>
			<id column="${column.sqlName}" property="${column.columnNameFirstLower}"/>
			</#if>
			<#if column.columnNameFirstLower!='id'>
			<result column="${column.sqlName}" property="${column.columnNameFirstLower}"/>
			</#if>
	    </#list>
    </resultMap>
   
    <resultMap id="BaseResultViewMap" type="com.edgedo.sys.queryvo.${className}View" extends="BaseResultMap">
    
    </resultMap>
  
  
  <!-- ******* 新增字段请修改这里  ******  -->
  <sql id="Base_Column_List">
	<#list table.columns as column> ${column.sqlName}<#if column_has_next>,</#if></#list>
  </sql>
  
  <!-- ******* 利用好这里的动态查询条件  ******  -->
  <sql id="where">
  	<where>
		<#list table.columns as column>
			<#if column.javaType='Integer'||column.javaType='java.lang.Integer' >
				<if test='queryObj != null and  queryObj.${column.columnNameFirstLower} != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.${column.columnNameFirstLower})'>
					AND  ${column.sqlName} = ${r"#{"}queryObj.${column.columnNameFirstLower}}
				</if>
			</#if>
			<#if column.javaType='java.util.Date' >
				<if test='queryObj != null and  queryObj.${column.columnNameFirstLower} != null'>
					AND  ${column.sqlName} = ${r"#{"}queryObj.${column.columnNameFirstLower}}
				</if>
			</#if>
	    </#list>
  	</where>
  	
  </sql>
  
  <!-- ******* 排序判断  ******  
  <sql id="orderBy">
  	<if test="orderBy != null and orderBy!= '' ">
  		order by  ${r"${"}orderBy}
  	</if>
  </sql>-->
  
  
  <!-- 分页条件查询  -->
  <select id="listPage" parameterType="com.edgedo.sys.queryvo.${className}Query" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from ${table.sqlName} 
  		<include refid="where"/>
  </select>
  
   <!-- 不分页条件查询  -->
  <select id="listByObj" parameterType="com.edgedo.sys.queryvo.${className}Query" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from ${table.sqlName} 
  		<include refid="where"/>
  </select>
  
  
</mapper>